*{
	font-family: 'Inter', sans-serif;
}

#nav{
	-webkit-box-shadow: 0 8px 6px 0 #eaeaea;
	-moz-box-shadow: 0 8px 6px 0 #eaeaea;
	box-shadow: 0 8px 6px 0 #eaeaea;
}

#activeNav{
	border-bottom: 3px solid #06B6D4;
	width: 50%;
	left: 35%;
	right: 35%;
	padding-top: 3px;
	margin: auto;
}

#tab-nav a{
	color: black;
}

.selected{
	color: #06B6D4 !important;
	border-bottom: 3px solid #06B6D4;
}

#form-login{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	/*line-height: 0px;*/

	color: #525252;
}

#form-login ::placeholder{
	color: #C4C4C4;
	opacity: 1; /* Firefox */
}

#form-reg{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	/*line-height: 0px;*/

	color: #525252;
}

#form-reg ::placeholder{
	color: #C4C4C4;
	opacity: 1; /* Firefox */
}

#agreeTerms{
	font-size: 12px;
}

#formContainer #form-login {
    
}
#formContainer #form-reg {
    display: none;
}
